<%- include("../includes/header.ejs") %> 
<%- include("../includes/nav.ejs") %> 
    <h1>404 Ooops</h1>
    <h4>You are not allowed on this page.</h4>
    <p>Use the links on the navigation bar to navigate around.</p>
<%- include("../includes/footer.ejs") %>