<%- include("../includes/header.ejs") %> 
<%- include("../includes/nav.ejs") %> 
    <!-- === Main Wrapper Container Start === -->
    <div class="contaner">
        <div class="divider"></div>
        <canvas id="myCanvas"></canvas>
        <div class="divider"></div>
                 
        <!-- === Main Section Content Start === -->
        <section class="main">
            <div class="row row-one">
                <div class="spacer-top"></div>
                <div class="col">                    
                    <h1>Blocs Studio</h1>
                    <h4>I Develope Web Applications</h4>
                    <div class="spacer-top"></div>
                    <p>visit my portfolio, to see some of the recent projects I am developing or have already been developed.</p>
                </div>
            </div>
            <div class="row row-two">
                <div class="spacer-top"></div>
                <div class="col">                    
                    <h2>Little about me</h2>
                    <h4>Programming journey</h4> 
                    <div class="bgColorOne"></div>
                    <div class="bgColorTwo"></div>
                </div>
            </div>
        </section>
        <!-- === Main Section Content End === -->
    </div>
    <!-- === Main Wrapper Container Ed === -->
    <!-- ==== Including Footer -->
<%- include("../includes/footer.ejs") %>
<%- include("../functions/indexFunc.ejs")  %>  

