<%- include("../includes/_header.ejs")  %> 
<%- include("../includes/_nav.ejs")  %>
    <div class="divider"></div>
    <h1 class="trial">Portfolio</h1>
<!-- ==== Including Footer -->
<%- include("../includes/_footer.ejs")  %> 