    <footer class="footer-controller">
        <div class="footer-container">
            <!-- Logo and copyright -->
            <% const date = new Date(); %> 
            <div class="footer-logo">
                <p>
                    Blocs <span><sup>&copy;</sup><%= date.getFullYear() %></span>
                </p>
            </div>
            <!-- Link -->
            <div class="footer-links">
                <ul>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Polycy</a></li>
                    <li><a href="#">Site Polycy</a></li>
                    <li><a href="https://github.com/Andyomos" target="_blank">GitHub</a></li>
                </ul>
            </div>
        </div>
    </footer>

    </body>
</html>