<nav class="nav-controller">
  <div class="logo">
    <h1>Blocs</h1>
  </div>
  <div class="nav-bar">
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
  </ul>
  </div>

  <div class="nav-model">
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
  </ul>
  </div>
  <div class="nav-burger">
    <div></div>
    <div></div>
    <div></div>
  </div>
</nav>